.theme-1 {
  --button-width: var(--theme-1-button-width);
  --button-height: var(--theme-1-button-height);
  --button-background-color: var(--theme-1-button-background-color);
  --button-text-color: var(--theme-1-button-text-color);
}

.filled {
  background-color: coral;
}
